/* Header styling */
nav {
  background-color: #1a1a1a;
  color: white;
}

nav img {
  height: 50px;
  float: right;
}


/* Main body */
html, body, div#root, div.App {
  height: 100%;
  background-color: #404040;
}

/* Landing page */
div.landing {
  color: white;
  background-color: black;
  font-family: cresta, sans-serif;
  font-style: normal;
  font-weight: 200;
  padding-top: 10%;
}

div.landing button {
  background-color: #404040;
<<<<<<< HEAD
  border-width: 0px;
=======
  border-radius: 25px;
  width: 265px;
  height: 70px;
  font-size: 24px;
  border-color: #404040;
>>>>>>> c30e7ce5310a669aa02c2e6fbc8291e949931d9f
}

div.landing button a {
  color: #fff;
}

div.landing button a:hover {
  text-decoration: none;
}

/* All Cards */
div.card-deck .card {
  background-color: #cccccc;
  border-width: 0px;
  border-radius: 0px;
  color: #000000;
  font-family: cresta, sans-serif;
  font-style: normal;
  font-weight: 200;
}

div.card-deck .card .card-title {
  margin: 0px;
  font-weight: bold;
}

/* Survey Cards */
div.carddeck2 {
  margin: 25px 350px 0px 350px;
}

div.carddeck2 .card2 {
    margin: 0px 10px;
}

div.carddeck3 {
  margin: 25px 205px 0px 205px;
}

div.carddeck3 .card3 {
    margin: 0px 10px;
}

div.survey {
  color: #fff;
  padding: 25px 0;
}

/* Recommendation Cards */
div.carddeckRec {
  margin: 25px 100px 0px 100px;
}

div.carddeckRec .cardRec {
      margin: 0px 10px;
}

div.recommendations {
  color: #fff;
  padding: 25px 0;
}

div.recommendations button {
  background-color: black;
  border-width: 0px;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  margin: 25px 125px 0px 0px;
}

div.recommendations button a {
  color: #fff;
}

div.recommendations button a:hover {
  text-decoration: none;
}

/* Order Page */
div.order {
  color: white;
  font-family: cresta, sans-serif;
  font-style: normal;
  font-weight: 200;
  padding-top: 10%;
}

div.order h1 {
  color: #fff;
  font-weight: bold;
}

div.order button {
  background-color: #f88788;
}

div.order button a {
  color: #fff;
}

div.order button a:hover {
  text-decoration: none;
}

div.order .form-inline {
  display: inherit;
}
