/* Header styling */
nav {
  background-color: black;
  color: white;
  height: 15%;
}

nav img {
  height: 50px;
  float: right;
}

nav a {
  color: white;
}

nav a:hover {
  color: #f88788;
}

/* Main body */
html, body, div#root, div.App {
  height: 100vh;
  background-color: #303030;
}

.app-body {
  height: 85%;
  background-color: #303030;
}

div.container, div.row {
  height: 100%;
}

div.carddeck, div.card-deck, div.col, div.card {
  height: 100%;
}
div.card img {
  height:90%;
  width: auto !important;
  position:absolute;
z-index:1;

}

/* Landing page */
div.landing {
  color: #f88788;
  font-family: cresta, sans-serif;
  font-style: normal;
  font-weight: 200;
  padding-top: 10%;
}

div.landing img {
  width: 500px;
}

div.landing button {
  background-color: #f88788;
}

div.landing button a {
  color: #fff;
}

div.landing button a:hover {
  text-decoration: none;
}

/* All Cards */
div.card-deck .card {
  background-color: #f88788;
  color: #fff;
  font-family: cresta, sans-serif;
  font-style: normal;
  font-weight: 200;
}

div.card-deck .card .card-title {
  /*margin: 0px;*/
  font-weight: bold;
}

/* Survey Cards
div.carddeck2 {
  margin: 25px 250px 0px 250px;
}

div.carddeck2 .card2 {
    margin: 0px 75px;
}

div.carddeck3 {
  margin: 25px 100px 0px 100px;
}

div.carddeck3 .card3 {
    margin: 0px 50px;
}

*/

div.survey {
  color: #fff;
  padding: 25px 0;
}

/* Recommendation Cards
div.carddeckRec {
  margin: 25px 100px 0px 100px;
}

div.carddeckRec .cardRec {
      margin: 0px 25px;
}
*/

div.recommendations {
  color: #fff;
  padding: 25px 0;
}

div.recommendations button {
  background-color: #f88788;
  float: right;
  margin: 25px 125px 0px 0px;
}

div.recommendations button a {
  color: #fff;
}

div.recommendations button a:hover {
  text-decoration: none;
}

/* Order Page */
div.order {
  color: #f88788;
  font-family: cresta, sans-serif;
  font-style: normal;
  font-weight: 200;
  padding-top: 10%;
}

div.order h1 {
  color: #fff;
  font-weight: bold;
}

div.order button {
  background-color: #f88788;
}

div.order button a {
  color: #fff;
}

div.order button a:hover {
  text-decoration: none;
}

div.order .form-inline {
  display: inherit;
}

/* Sizing Page */
div.sizingCards {
margin: 0px 25px;
}

div.carddeckSize {
  margin: 25px 50px 0px 50px;
}

div.carddeckSize .cardSize {
  margin: 0;
}

div.sizingPage {
  color: #fff;
}

div.sizingPage button {
  background-color: #f88788;
  float: right;
  margin: 25px 125px 0px 0px;
}

div.sizingPage button a {
  color: #fff;
}

div.sizingPage button a:hover {
  text-decoration: none;
}
